{
  "extends": "@svrx",
  "overrides": [
    {
      "files": "examples/**/*.js",
      "rules": {
        "no-unused-vars": "off"
      }
    }, {
      "files": "packages/**/__tests__/**/*.js",
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    }
  ]
}
