language: node_js

node_js:
  - "8"
  - "10"

cache: npm

install:
  - npm install -g codecov

before_script:
  - npm run build

script:
  - npm test
  - npm run coverage
  - codecov

before_deploy:
  - echo "//registry.npmjs.org/:_authToken=\${NPM_TOKEN}" >> $HOME/.npmrc 2> /dev/null

deploy:
  provider: script
  script: "npm run lerna:publish"
  skip_cleanup: true
  on:
    node: "10"
    tags: true
